In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aitape,PG,2021-11-24 23:49:27,-3.1374,142.3475,85.01,65,96,3.22
1,1,Geraldton,AU,2021-11-24 23:49:28,-28.7667,114.6000,82.81,18,0,12.66
2,2,Hermanus,ZA,2021-11-24 23:49:28,-34.4187,19.2345,58.80,72,0,19.69
3,3,Ushuaia,AR,2021-11-24 23:46:32,-54.8000,-68.3000,47.86,61,40,23.02
4,4,Sungairaya,ID,2021-11-24 23:49:29,0.7000,108.9000,78.49,86,100,2.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use our api
gmaps.configure(api_key = g_key)

In [5]:
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# or using list comprehension as shown below
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
Clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
Wind_speed = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind_speed, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# getting input from user
min_temp = float(input("Minimum desired temperature for your trip? "))
max_temp = float(input("Maximum desired temperature for your trip? "))

Minimum desired temperature for your trip? 75
Maximum desired temperature for your trip? 85

In [11]:
# getting cities withing desired temp limit
prefered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                  (city_data_df["Max Temp"] >= min_temp)]
prefered_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Geraldton,AU,2021-11-24 23:49:28,-28.7667,114.6000,82.81,18,0,12.66
4,4,Sungairaya,ID,2021-11-24 23:49:29,0.7000,108.9000,78.49,86,100,2.13
5,5,Acapulco,MX,2021-11-24 23:48:17,16.8634,-99.8901,79.75,80,8,5.55
6,6,Pamanukan,ID,2021-11-24 23:49:29,-6.2842,107.8106,81.43,77,93,3.18
8,8,Tabou,CI,2021-11-24 23:49:30,4.4230,-7.3528,79.81,84,30,5.86
10,10,Prainha,BR,2021-11-24 23:49:31,-1.8000,-53.4800,79.36,73,88,2.89
12,12,Meulaboh,ID,2021-11-24 23:49:32,4.1363,96.1285,75.00,84,97,3.98
13,13,Atuona,PF,2021-11-24 23:49:32,-9.8000,-139.0333,77.45,80,18,11.54
16,16,Rikitea,PF,2021-11-24 23:49:33,-23.1203,-134.9692,77.14,71,16,12.73
20,20,Kalmunai,LK,2021-11-24 23:49:35,7.4167,81.8167,76.24,90,100,8.46

In [12]:
prefered_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [13]:
hotel_df = prefered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Geraldton      AU     82.81 -28.7667  114.6000
4   Sungairaya      ID     78.49   0.7000  108.9000
5     Acapulco      MX     79.75  16.8634  -99.8901
6    Pamanukan      ID     81.43  -6.2842  107.8106
8        Tabou      CI     79.81   4.4230   -7.3528
10     Prainha      BR     79.36  -1.8000  -53.4800
12    Meulaboh      ID     75.00   4.1363   96.1285
13      Atuona      PF     77.45  -9.8000 -139.0333
16     Rikitea      PF     77.14 -23.1203 -134.9692
20    Kalmunai      LK     76.24   7.4167   81.8167

In [14]:
# parameters for searching hotel
params = { 
    "radius": 5000,
    "type": "lodging", 
    "key": g_key,
    
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # modify with try-except
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("hotel not found. Skipping...")
# make requests 
#hotels = requests.get(base_url, params = params).json()

hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...
hotel not found. Skipping...

In [15]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Geraldton,AU,82.81,-28.7667,114.6000,Broadwater Mariner Resort
4,Sungairaya,ID,78.49,0.7000,108.9000,Mess P.Milu
5,Acapulco,MX,79.75,16.8634,-99.8901,HS Hotsson Smart Acapulco
6,Pamanukan,ID,81.43,-6.2842,107.8106,Paris Day Hotel Pamanukan
8,Tabou,CI,79.81,4.4230,-7.3528,hotêl doufoulougou
10,Prainha,BR,79.36,-1.8000,-53.4800,Casa Rocha
12,Meulaboh,ID,75.00,4.1363,96.1285,Kost Pria
13,Atuona,PF,77.45,-9.8000,-139.0333,Villa Enata
16,Rikitea,PF,77.14,-23.1203,-134.9692,People ThankYou
20,Kalmunai,LK,76.24,7.4167,81.8167,VS Villa
23,Atambua,ID,82.04,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
24,Kourou,GF,82.11,5.1552,-52.6478,Lodge TAKINI4 Guesthouse KOUROU FGU
26,Morondava,MG,76.30,-20.2833,44.2833,La Case Bambou
28,Carnarvon,AU,80.67,-24.8667,113.6333,Hospitality Carnarvon
29,Bengkulu,ID,76.30,-3.8004,102.2655,Grage Hotel Bengkulu
36,Kloulklubed,PW,82.90,7.0419,134.2556,Storyboard Beach Resort
41,Dingle,PH,80.69,10.9995,122.6711,SEGAYA PROPERTY
42,Vila Velha,BR,75.15,-20.3297,-40.2925,Quality Suites Vila Velha
44,Araouane,ML,77.09,18.9048,-3.5265,
52,Faanui,PF,81.43,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))